.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 40px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color:#b1b1b1;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-xs-6 {
    padding-right: 15px;
    padding-left: 15px;
  } */

