ul.header {
    background-color: rgb(65, 61, 65); 
    padding: 20px;
    height: 100%; 
    width: 15vw;
    position: static;
    min-height: 100vh;
}

ul.header li {
    display: inline;
    list-style-type: none;
}

  ul.header li a {
    color: #FFF;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif; 
    /* border-top: 10px; */
    margin: 10px;
    /* padding: 3px 80% 3px 10px; */
}

/* div.content {
    background-color:rgb(190, 178, 178);
    padding: 20px;
    float: right;
    margin-left: 10%;
    width: 85%;
    height: 1000px;
    position: fixed;
    overflow: auto;
}  */

 .row a:hover {
    color: #f4f0f7;
} 

.row{
    display: flex;
    flex-direction: row;
}

.active {
    background-color: #0099FF;
  }